<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
</head>
<body>
    
    <section style="margin:auto; text-align: center;">
        <h1>카드게임</h1>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <a href="/card/main" style="font-size:20px;">게임1</a>
            <a href="/card/prototype" style="font-size:20px;">게임2</a>
            <a href="/card/composite" style="font-size:20px;">게임3</a>
        <div>
    <section>

    
</body>
</html>