<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="/image/tree.png" style="width: 150px;height: 150px;border-radius: 3px;border: 1px;border: 1px solid black;">
        <div>
        <label for="huey">나무
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">돌고래
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">팽귄
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
    </div>
    </div>

    <div style="text-align: center;">
        <img src="/image/tree.png" style="width: 150px;height: 150px;border-radius: 3px;border: 1px;border: 1px solid black;">
        <div>
        <label for="huey">나무
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">돌고래
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">팽귄
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
    </div>
    </div>

    <div style="text-align: center;">
        <img src="/image/tree.png" style="width: 150px;height: 150px;border-radius: 3px;border: 1px;border: 1px solid black;">
        <div>
        <label for="huey">나무
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">돌고래
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">팽귄
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
    </div>
    </div>

    <div style="text-align: center;">
        <img src="/image/tree.png" style="width: 150px;height: 150px;border-radius: 3px;border: 1px;border: 1px solid black;">
        <div>
        <label for="huey">나무
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">돌고래
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
        <label for="huey">팽귄
            <input type="radio" id="huey" name="drone" value="huey" checked />
        </label>
    </div>
    </div>
</body>
</html>
