<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="/js/user/prototype.js" defer></script>
    <link href="/css/user/prototype.css" rel="stylesheet">
</head>
<body>
  <div id="content">
    <div class="flex-container">
      <div class="flex-item">
        <p id="namesData" th:text="${names}" style="display:none"></p>
        <p id="imagesData" th:text="${images}" style="display:none"></p>
        <div id="cardImages"></div>
        <div id="cardSlots"></div>
      </div>
      <div class="flex-item">
        <input id="point" type="text" value="0">
        /
        <input type="text">
      </div>
    </div>
    <div>
      <h2 id="cor">게임시작</h2>
    </div>
    <div id="successMessage">
      <h2>You did it!</h2>
      <button onclick="init()">Play Again</button>
    </div>
  </div>
</body>
</html>